body {
	background:grey;
}
.cloud {
    width: 340px;
    height: 120px;
	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	border-radius: 100px;
	position: relative;
	margin: 140px auto 20px auto;
}

.cloud:after, .cloud:before {
	content: '';
	position: absolute;
	background: white;
	z-index: -1
}

.cloud:after {
    width: 100px; 
    height: 100px;
    top: -40px; 
    left: 50px;
	border-radius: 100px;
}
.cloud:before {
    width: 180px;
    height: 180px;
    top: -90px;
    right: 50px;
	border-radius: 200px;
}

